body {
    background-color: #D0EAF3;
    font-family: Aqua_font, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: Arenq;
    src: url(../font/Arenq.otf)
}

@font-face {
    font-family: Aqua_font;
    src: url(../font/aqua.ttf)
}

@font-face {
    font-family: Mild_life_textured;
    src: url(../font/Mild\ Life\ Regular\ Personal\ Use.otf)
}

@font-face {
    font-family: Nexa_Bold;
    src: url(../font/Nexa\ Bold.otf);
}

@font-face {
    font-family: MightypeScript;
    src: url(../font/Mightype\ Script.otf);
}

@font-face {
    font-family: TheTravelista;
    src: url(../font/TheTravelista\ -\ Demo.otf);
}

#pagewrap {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #046E8F;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: -7px;
}

nav ul li {
    font-family: TheTravelista;
    /* font-family: Nexa_Bold; */
    /* font-family: MightypeScript; */
    /* font-family: Mild_life_textured; */
    display: inline-block;
    font-size: 2em;
    text-align: center;
    padding: 20px 0px 20px 0px;
    height: 2%;
}

nav ul li a,
nav ul li a:focus {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: none;
    padding: 20px;
    padding-bottom: 8px;
    color: #E8ECED;
}

.icon {
    filter: opacity(.5) drop-shadow(0 0 0 #046E8F);
}

.container {
    /* display: block;
    text-align: center; */
    padding: 1.9em;
    width: 1340px;
    margin-right: auto;
    margin-left: auto;
}

.sliderContainer {
    /* padding-bottom: -1.9em; */
    width: auto;
    margin-bottom: -28px;
    background-color: #D1D9DC;
}

.item {
    width: 100%;
}

.carousel {
    width: 1460px;
    height: 765px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /* margin-left: -150px; */
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 1400px;
    height: 665px;
}

.seperator {
    top: 0px;
    left: 0px;
    margin-top: -2px;
    position: relative;
    background-color: #046E8F;
    width: 100%;
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
    position: relative;
}

.card {
    margin: 3em 3em 8em 3em;
    /* position: absolute; */
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 375px;
    height: 235px;
}

.card:hover:not(.profile) {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    position: relative;
    width: 100%;
    height: 27em;
    z-index: -9999;
}

.allCardcontainer {
    display: block;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.subCardContainer {
    display: inline-block;
    align-items: center;
}

.headtitle {
    color: #34719e;
    font-size: 2em;
    font-family: Nexa_Bold;
    text-align: center;
    margin: 2em auto 0px auto;
}

.profile,
.profile a:focus {
    text-decoration: none;
    color: #34719e;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
    width: 245px;
    height: 407px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile a:hover {
    text-decoration: none;
    color: #90b9da;
}