body {
    background-color: #D0EAF3;
    color: #666;
    font-family: Aqua_font, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: Arenq;
    src: url(../font/Arenq.otf)
}

@font-face {
    font-family: Aqua_font;
    src: url(../font/aqua.ttf)
}

#pagewrap {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

nav {
    margin: 1%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
    background-color: #0090C1;
    z-index: 9999;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    height: 2%;
}

nav ul li a,
nav ul li a:focus {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: none;
    padding: 20px;
    border-bottom: 2px solid #E8ECED;
    padding-bottom: 8px;
    color: #E8ECED;
}

.container {
    padding-top: 1.9em;
}

.sliderContainer {
    width: auto;
    height: 941px;
    background-color: #D1D9DC;
}

.carousel {
    width: 1460px;
    height: 850px !important;
    display: table-cell;
    vertical-align: middle;
    /* margin-left: -150px */
}